<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sanketloke/dlmultiagentsoccer">Deep Reinforcement Learning with Multi-agent Soccer</a></strong>
			We investigated an expanded version of Deep Q-Network where the reinforcement learning scheme is implemented to perform a
multi-agent task. In this approach, a new structure of neural network, the so called Deep Reinforcement Opponent Network (DRON) is made use of in order to model the Q network for the primal agent and the team and opponents’ policy simultaneously.
		</h5


    </div>
  </div>
</div>
</section>
